.contact-container {
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    min-width: 300px;
    padding: 0 5px;
    margin: 10px;
    background-color: #252c37;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

.contact-name,
.contact-number {
    margin: 0;
}

button {
    border-radius: 5px;
    border: none;
    background-color: #f8c617;
    padding: 5px 10px;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover,
button:focus {
    background-color: #f7e8b2
}